.HomeSlider {
    position: relative;
    width: 100%;
    height: 70vh;
    max-width: 1480px;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
}

.SliderItem {
    position: relative;
    width: 100%;
    /*max-width: 100%;*/
    max-width: 1200px;
    height: 70vh;
    min-height: 200px;
    max-height: 600px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
    outline: none;
    border: none;
}

.SliderItem > div {
    display: flex;
    width: 50%;
    height: 100%;
    border: none;
    outline: none;
}

.SliderItemLeftBlock {
    position: relative;
    padding-left: 30px;
    padding-right: 15px;
    height: 300px;
    align-items: center;
}

.SliderItemLeftBlock > img {
    width: 100%;
}

.SliderItemImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: top center;
}

.SliderItemRightBlock {
    padding-left: 15px;
    align-items: center;
}

.SliderItemRightBlock > div {
    position: relative;
    height: 300px;
}

.SliderItemRightBlock h2 {
    display: block;
    font-size: 35px;
    margin-top: 0;
    margin-bottom: 40px;
}

.SliderItemRightBlock p {
    display: block;
    font-size: 18px;
    margin-bottom: 40px;
    line-height: 30px;
    color: gray;
}

.SliderItemButtonGroup {
    position: absolute;
    bottom: 15px;
    display: flex;
    align-items: center;
    height: 60px;
}

.SliderItemButtonGroup a {
    display: flex;
    align-items: center;
    height: 100%;
    border-radius: 5px;
    text-decoration: none;
    padding-left: 30px;
    padding-right: 30px;
    font-weight: bolder;
}

.SliderItemButtonGroup a:not(:last-child) {
    margin-right: 40px;
}

.ButtonChoice {
    background-color: #6d64ff;
    color: #fafafa;
}

.ButtonMore {
    border: 2px solid #6d64ff;
    color: #6d64ff;
}

@media only screen and (max-width: 1100px) {

    .SliderItemRightBlock > div {
        position: relative;
        height: 210px;
    }

    .SliderItemRightBlock h2 {
        font-size: 28px;
        margin-bottom: 20px;
    }

    .SliderItemRightBlock p {
        line-height: 25px;
    }

    .SliderItemButtonGroup {
        height: 45px;
    }
}

@media only screen and (max-width: 992px) {

    .SliderItem {
        flex-wrap: wrap;
    }

    .SliderItem > div {
        display: flex;
        width: 100%;
        height: 100%;
        border: none;
        outline: none;
    }

    .SliderItemLeftBlock {
        display: none!important;
    }
}

@media only screen and (max-width: 768px) {

    .SliderItemRightBlock > div {
        position: relative;
        height: 280px;
    }

    .SliderItemRightBlock h2 {
        text-align: center;
    }

    .SliderItemRightBlock p {
        text-align: center;
    }

    .SliderItemButtonGroup {
        width: 100%;
        justify-content: center;
    }
}

@media only screen and (max-width: 480px) {

    .SliderItem {
        padding-left: 10px;
        padding-right: 10px;
        height: 80vh;
    }

    .SliderItemButtonGroup {
        width: 100%;
        height: 80px;
        justify-content: center;
        flex-wrap: wrap;
        bottom: 10px;
    }

    .SliderItemRightBlock {
        padding-left: 0;
    }

    .SliderItemRightBlock h2 {
        font-size: 25px;
    }

    .SliderItemRightBlock p {
        font-size: 16px;
    }

    .SliderItemButtonGroup a {
        padding-top: 12px;
        padding-bottom: 12px;
        height: auto;
    }

    .SliderItemButtonGroup a:not(:last-child) {
        margin-right: 0;
        margin-bottom: 15px;
    }
}